.App-title {
  font-size: 70px;
  margin-bottom: -25px;
}

.App-intro {
  font-size: 30px;
  font-family: 'Cormorant', serif;
}

.App-lower {
  margin-top: -30px;
}

.App-contact {
  font-family: 'Cormorant', serif;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: #fff;
}